h3{
    color: tomato;
}

#box{
    border: 1px solid green;
    border-radius: 5px;
    min-width: 700px;
    max-width: fit-content;
    min-height: 200px;
    max-height: fit-content;
    padding: 15px;
    margin: 15px 0;
    position: relative;

}

.alert-box{
    border: 1px solid #16216b;
    border-radius: 5px;
    min-width: 250px;
    max-width: fit-content;
    min-height: 100px;
    max-height: fit-content;
    padding: 15px;
    margin: 15px 0;
    position: absolute;
    top: 74px;
    left: 571px;
    background-color: #e3ac69;
}

.disappear-class{
    display: none;
}
.table-elem{
    border: 1px solid red;
    min-height: 25px;
    height: fit-content;
    min-width: 100px;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

.white{
    background-color: #e3ac69;
    width: 25px;
    height: 25px;
}
.black{
    background-color: #1a1003;
    width: 25px;
    height: 25px;
}
.form{
    background-color: #e3ac69;
    border: 1px solid #fdf8f8;
    border-radius: 7px;
    width: 55px;
    height: 55px;
}

td{
    text-align: center;
}
.image{
    max-height: 150px;
    max-height: 150px;
}
#btn-container-5{
    display: flex;
    justify-content: center;
    align-items: center;
}
#btn-container-5 div img{
    padding: 10px;
    max-width: 100px;
}
#btn-container-5 div img{
   cursor: pointer;
}