h3{
    color: tomato
}
button{
    width: 100px;
}
.result, .equal_result, .calc_result{
    margin: 15px 0 15px 0;
    width: 500px;
    height: 200px;
    border: 1px solid #474141;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}
